<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0  maximum-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./styles.min.css")

        title Landing-it-studio
    body
        .wrapper
            main.page.page__main-screen
                .hidden-menu.js-menu
                    .hidden-menu__hamburger
                        span.hidden-menu__line
                        span.hidden-menu__line
                        span.hidden-menu__line
                    .hidden-menu__cross
                        span.hidden-menu__line2
                        span.hidden-menu__line2
                nav.main-menu.js-menu-body
                    a.main-menu__item(href="#") Главная
                    a.main-menu__item(href="#") Наши проекты
                    a.main-menu__item(href="#") Услуги
                    a.main-menu__item(href="#") Новости
                    a.main-menu__item(href="#") Контакты
                .page__content
                    span.page__text Передовая IT студия
                    p.page__title Мы создаем легкие решения <br>сложных задач и проблем
                    button.page__btn.common__btn Наши проекты
                    
            .content
                section.services
                    .wrapper__cont
                        .services__title.common__title Мы создаем мобильные приложения <br>для крупных корпораций
                        .services__text.common__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem <br>Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                        .services__items
                            .services__item.item 
                                .item__block-img
                                    .item__ellipse
                                        .item__ellipse2
                                            img.item__img(src="./img/project.png", alt="project")
                                .item__block-text
                                    .item__title Создание сайтов
                                    .item__text.common__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            .services__item.item        
                                .item__block-img
                                    .item__ellipse
                                        .item__ellipse2
                                            img.item__img(src="./img/project.png", alt="project")
                                .item__block-text
                                    .item__title Создание сайтов
                                    .item__text.common__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            .services__item.item        
                                .item__block-img
                                    .item__ellipse
                                        .item__ellipse2
                                            img.item__img(src="./img/project.png", alt="project")
                                .item__block-text
                                    .item__title Создание сайтов
                                    .item__text.common__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        button.services__btn.common__btn Все услуги
                section.about-us
                    .wrapper__cont
                        .about-us__container
                            .about-us__block-text
                                .about-us__title.common__title Высокие стандарты разработки
                                p.about-us__text.common__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  стандартной "рыбой" для текстов на латинице с начала XVI века. 
                                a.about-us__link.common__text(href="#") Подробнее о компании
                            img.about-us__img(src="./img/about-us.jpg", alt="about-us")
                        .about-us__projects
                            .about-us__project
                                img.about-us__project-img(src="./img/web-programming.png", alt="web-programming")
                                span.about-us__project-number.common__title 125
                                span.about-us__project-text.common__text Our projects
                            .about-us__project
                                img.about-us__project-img(src="./img/web-programming.png", alt="web-programming")
                                span.about-us__project-number.common__title 125
                                span.about-us__project-text.common__text Our projects
                            .about-us__project
                                img.about-us__project-img(src="./img/web-programming.png", alt="web-programming")
                                span.about-us__project-number.common__title 125
                                span.about-us__project-text.common__text Our projects
                            .about-us__project
                                img.about-us__project-img(src="./img/web-programming.png", alt="web-programming")
                                span.about-us__project-number.common__title 125
                                span.about-us__project-text.common__text Our projects
                            .about-us__project
                                img.about-us__project-img(src="./img/web-programming.png", alt="web-programming")
                                span.about-us__project-number.common__title 125
                                span.about-us__project-text.common__text Our project
                section.all-services
                    .all-services__part1
                        .wrapper__cont
                            .all-services__cont
                                .all-services__title.common__title Наши работы, на которых мы специализируемся
                                button.all-services__btn.common__btn Все услуги
                            .all-services__cont2
                                img(src="./img/all-serveces.png", alt="all-services")
                                img(src="./img/all-serveces.png", alt="all-services")
                                img(src="./img/all-serveces.png", alt="all-services")
                    .all-services__part2
                        .wrapper__cont
                            .all-services__content
                                .all-services__block-text
                                    span.all-services__num.all-services__titl 01. 
                                    span.all-services__titl Исследование и упаковка
                                    p.all-services__text.common__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                                    a.all-services__link.common__text(href="#") Подробнее
                                .all-services__block-text
                                    span.all-services__num.all-services__titl 01. 
                                    span.all-services__titl Исследование и упаковка
                                    p.all-services__text.common__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                                    a.all-services__link.common__text(href="#") Подробнее
                                .all-services__block-text
                                    span.all-services__num.all-services__titl 01. 
                                    span.all-services__titl Исследование и упаковка
                                    p.all-services__text.common__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                                    a.all-services__link.common__text(href="#") Подробнее


                section.all-projects
                    .wrapper__cont
                        .all-projects__container
                            .all-projects__title.common__title Наши проекты
                            p.all-projects__text.common__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem<br> Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  
                            .all-projects__block-img
                                img.all-projects__img(src="./img/all-projects.png", alt="all-projects")
                                img.all-projects__img(src="./img/all-projects.png", alt="all-projects")
                                img.all-projects__img(src="./img/all-projects.png", alt="all-projects")
                                img.all-projects__img(src="./img/all-projects.png", alt="all-projects")
                            button.all-projects__btn.common__btn Все проекты

                section.video
                section.subscribe
            footer

        script(src="./libs.min.js")
        script(src="./script.min.js")
            




  
    
