input[type='number'] {
  -moz-appearance: textfield; }

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-size: 14px;
  font-family: Montserrat;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: Montserrat; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

.wrapper {
  max-width: 1920px;
  overflow: hidden;
  min-height: 100vh; }
  .wrapper__cont {
    max-width: 1113px;
    margin: 0 auto; }

.page {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .page__main-screen {
    min-height: 100vh;
    background: url("./img/main-screen.jpg") no-repeat center/cover border-box; }
  .page__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .page__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 220px; }
  .page__title {
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25), -1px -1px 0 rgba(0, 0, 0, 0.25);
    text-align: center; }
  .page__btn {
    margin-top: 50px; }

.main-menu {
  padding-top: 40px;
  position: relative;
  top: 0;
  left: 16.5%; }
  .main-menu__item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-right: 40px;
    position: relative;
    padding-bottom: 39px; }
    .main-menu__item:last-child {
      margin-right: 0; }
    .main-menu__item:hover {
      color: rgba(175, 202, 255, 0.980392); }
      .main-menu__item:hover::after {
        position: absolute;
        content: "";
        top: 39px;
        left: 0;
        background-color: rgba(175, 202, 255, 0.980392);
        width: 100%;
        height: 2px; }

.hidden-menu {
  display: none;
  transition: 0.25s ease-in-out;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin: 50px 50px 0 0;
  position: relative;
  top: 0;
  left: 40%;
  z-index: 150;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px; }
  .hidden-menu:hover {
    background: rgba(255, 255, 255, 0.8); }
  .hidden-menu__hamburger {
    position: absolute;
    height: 100%;
    width: 100%; }
  .hidden-menu__cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg); }
  .hidden-menu__line {
    display: block;
    background: rgba(175, 202, 255, 0.980392);
    border-radius: 2px;
    width: 35px;
    height: 5px;
    position: relative;
    top: 5%;
    left: 15%;
    margin: 8px 0; }
    .hidden-menu__line:nth-child(1) {
      transition-delay: 0.5s; }
    .hidden-menu__line:nth-child(2) {
      transition-delay: 0.625s; }
    .hidden-menu__line:nth-child(3) {
      transition-delay: 0.75s; }
  .hidden-menu__line2 {
    display: block;
    background: rgba(175, 202, 255, 0.980392);
    border-radius: 2px; }
    .hidden-menu__line2:nth-child(1) {
      height: 0%;
      width: 5px;
      position: absolute;
      top: 10%;
      left: 45%;
      transition-delay: 0s; }
    .hidden-menu__line2:nth-child(2) {
      width: 0%;
      height: 5px;
      position: absolute;
      left: 10%;
      top: 45%;
      transition-delay: 0.25s; }

.open .hidden-menu__line {
  width: 0%; }
  .open .hidden-menu__line:nth-child(1) {
    transition-delay: 0s; }
  .open .hidden-menu__line:nth-child(2) {
    transition-delay: 0.125s; }
  .open .hidden-menu__line:nth-child(3) {
    transition-delay: 0.25s; }

.open .hidden-menu__line2:nth-child(1) {
  height: 80%;
  transition-delay: 0.625s; }

.open .hidden-menu__line2:nth-child(2) {
  width: 80%;
  transition-delay: 0.375s; }

@media screen and (max-width: 890px) {
  .hidden-menu {
    display: flex;
    align-self: center; }
  .main-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -1000%;
    left: 0;
    background-color: #353536;
    overflow: hidden;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; }
    .main-menu__item {
      font-size: 22px;
      width: 50%;
      margin: 20px 0 20px 0; }
      .main-menu__item:hover {
        color: rgba(175, 202, 255, 0.980392); }
        .main-menu__item:hover::after {
          height: 0;
          width: 0; }
  .lock {
    overflow: hidden; }
  .active2 {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; } }

.common__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232; }

.common__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999; }

.common__btn {
  width: 200px;
  height: 45px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff; }
  .common__btn:hover {
    background-color: rgba(124, 168, 255, 0.980392); }

.services {
  text-align: center; }
  .services__title {
    padding-top: 110px;
    text-align: center; }
  .services__text {
    margin: 50px 0 70px 0;
    text-align: center; }
  .services__items {
    display: flex;
    justify-content: space-between; }
  .services__btn {
    margin: 55px 0 105px 0; }

.item {
  display: flex; }
  .item__img {
    position: relative;
    top: 25px;
    right: 4px; }
  .item__ellipse {
    width: 110px;
    height: 110px;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    border-radius: 50%; }
  .item__ellipse2 {
    position: relative;
    top: 9px;
    left: 9px;
    width: 90px;
    height: 90px;
    border: 1px solid #4985ff;
    box-sizing: border-box;
    border-radius: 50%; }
  .item__block-text {
    margin-left: 28px;
    text-align: left; }
  .item__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }
  .item__text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    max-width: 180px; }

.about-us {
  background: #F6F6F8; }
  .about-us__container {
    display: flex; }
  .about-us__text {
    margin: 40px 0 30px 0; }
  .about-us__title {
    padding-top: 152px; }
  .about-us__link {
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985ff; }
  .about-us__img {
    margin: 100px 0 90px 121px; }
  .about-us__projects {
    padding: 70px 0;
    border-top: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-evenly; }
  .about-us__project-img {
    position: relative;
    top: 10px;
    left: 0; }
  .about-us__project-number {
    font-weight: normal;
    margin: 0 0 17px 20px; }
  .about-us__project-text {
    display: block; }
